################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Release/AIStarcraft.dll
/Release/AIStarcraft.pdb
/Release/BWAPILIB.lib
/Release/BWAPILIB.pdb
/AIStarcraft/Release/AIStarcraft.tlog
/AIStarcraft/Release
/.vs
/AIStarcraft/Debug
/Debug
